.breadCrumb {
  margin-top: px-to-rem(24px);
  h1 {
    font-size: px-to-rem(14px);
    font-weight: 500;
    color: var(--text-color);
  }
  h2 {
    font-size: px-to-rem(32px);
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--text-color);
  }
  p {
    margin-top: px-to-rem(7px);
    color: var(--text-secondary-color);
    font-size: px-to-rem(14px);
    font-weight: 400;
  }
}
