/* ==========================================================================
   BUTTON COLOR
   ========================================================================== */

/* ==========================================================================
   BUTTON SIZE
   ========================================================================== */
.ant-btn-lg {
   font-size: px-to-rem(16px);
   height: 40px;
   padding-left: px-to-rem(15px); padding-right: px-to-rem(15px);
   align-items: center;
   gap: px-to-rem(8px);
}
