.organ-page {
  .task-content {
    margin-top: px-to-rem(24px);
  }
  .task-input-container {
    border-radius: var(--Border-Radius-borderRadius, 6px);
    border: var(--Components-Input-Component-paddingBlockSM, 1px) dashed
      var(--Colors-Brand-Primary-colorPrimary, #2698bd);
    background: var(--Colors-Neutral-Bg-colorBgContainer, #fff);

    /* boxShadow */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03),
      0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

    .task-btn {
      display: flex;
      padding-top: px-to-rem(24px);
      padding-bottom: px-to-rem(24px);
      height: auto;
      width: 100%;
    }
  }
  .task-list.empty {
    margin-top: px-to-rem(20px);
    width: 100%;
    height: 54vh;
    .empty-state {
      width: 100%;
      height: 100%;
      display: flex;
      gap: px-to-rem(7px);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: px-to-rem(14px);
      font-weight: 400;
      color: #000;
    }
    .all-num {
      font-size: px-to-rem(20px);
      font-weight: 700;
      color: #000;
      line-height: 1;
      span {
        font-size: px-to-rem(20px);
        font-weight: 700;
        color: $primary-color;
      }
    }
    .teamlist {
      margin-top: px-to-rem(24px);
    }
    .team-item {
      margin-bottom: px-to-rem(16px);
      height: px-to-rem(72px);
      padding-left: px-to-rem(24px);
      display: flex; align-items: center;
      border-radius: var(--Border-Radius-borderRadius, 6px);
      background: var(--Colors-Neutral-Bg-colorBgContainer, #fff);
      /* boxShadow */
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03),
        0px 1px 6px -1px rgba(0, 0, 0, 0.02),
        0px 2px 4px 0px rgba(0, 0, 0, 0.02);
      &:last-of-type {
        margin-bottom: px-to-rem(0px);
      }
    }
  }
  .team-input-wrap {
    margin-top: px-to-rem(24px);
    padding: px-to-rem(16px);
    height: auto;
    background: #fff;
    border-radius: var(--Border-Radius-borderRadius, 6px);
    border: 1px solid
      var(--Components-Input-Component-activeBorderColor, #2698bd);
    background: var(--Colors-Neutral-Bg-colorBgContainer, #fff);
    /* Component/Input/activeShadow */
    box-shadow: 0px 0px 0px 2px
      var(--Colors-Brand-Control-controlOutline, rgba(5, 145, 255, 0.1));
    .team-input {
      position: relative;
    }
    .left-item {
      width: 47.61236%; /* 678/1424 */
      input {
        width: 100%; /* 678/1424 */
      }
    }
    .right-item {
      button {
        display: flex;
        justify-content: center;
        width: px-to-rem(40px);
        height: px-to-rem(40px);
      }
    }
    .error-message {
      position: absolute;
      left: 4px;
      top: 40px;
      font-size: px-to-rem(12px);
      color: $error-color;
    }
  }
}
