.organ-page {
  .team-content {
    width: 100%;
    margin-bottom: px-to-rem(16px);
    height: px-to-rem(72px);
    padding-right: px-to-rem(24px);
    display: flex;
    align-items: center;
    border-radius: var(--Border-Radius-borderRadius, 6px);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    box-shadow:
      0px 1px 2px 0px rgba(0, 0, 0, 0.03),
      0px 1px 6px -1px rgba(0, 0, 0, 0.02),
      0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    .flex.aic {
      flex: 1;
    }
    .ant-btn {
      min-width: auto;
    }
    .team-toggle {
      .ant-btn {
        padding-right: px-to-rem(9px);
        padding-left: px-to-rem(9px);
      }
    }
    .team-dot {
      display: inline-block;
      width: px-to-rem(11px);
      height: px-to-rem(11px);
      border-radius: 50%;
      background-color: var(--text-third);
    }
    .team-info {
      flex: 1 0 0;
      .por {
        position: relative;
        right: 20px;
      }
      .team-name {
        flex: 1;
      }
      .ant-select-selector {
        width: px-to-rem(300px);
      }
      .team-leader {
        padding-left: px-to-rem(10px);
        padding-right: px-to-rem(10px);
        width: px-to-rem(300px);
        display: flex;
        flex: none;
        justify-content: space-between;
        align-items: center;
        .profile-wrap {
          justify-content: start;
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          background: var(--primary-color);
          border-radius: 9999px;
        }
        .team-leader-assignment {
          display: inline-flex;
          align-items: center;
          gap: px-to-rem(8px);
          color: var(--text-third);
          cursor: pointer;
          text-justify: auto;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .team-item {
    cursor: pointer;
    margin-bottom: px-to-rem(16px);
    height: px-to-rem(72px);
    padding-right: px-to-rem(24px);
    display: flex;
    align-items: center;
    border-radius: var(--Border-Radius-borderRadius, 6px);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    box-shadow:
      0px 1px 2px 0px rgba(0, 0, 0, 0.03),
      0px 1px 6px -1px rgba(0, 0, 0, 0.02),
      0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    // &:hover {
    //   border: 1px solid var(--primary-color);)
    // }
    .team-info {
      flex: 1 0 0;
      .por {
        position: relative;
        right: 20px;
      }
      .team-name {
        flex: 1;
        position: relative;
        padding-left: px-to-rem(20px);
        @include make-before {
          content: '';
          position: absolute;
          top: 48%;
          transform: translateY(-50%);
          left: px-to-rem(0px);
          width: px-to-rem(8px);
          height: px-to-rem(8px);
          border-radius: 50%;
          background: var(--icon-color);
        }
      }
      .ant-select-selector {
        width: px-to-rem(320px);
      }
      .team-leader {
        padding-left: px-to-rem(10px);
        padding-right: px-to-rem(10px);
        width: px-to-rem(320px);
        display: flex;
        flex: none;
        justify-content: space-between;
        align-items: center;
        .profile-wrap {
          justify-content: start;
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          background: var(--primary-color);
          border-radius: 9999px;
        }
        .team-leader-assignment {
          display: inline-flex;
          align-items: center;
          gap: px-to-rem(8px);
          cursor: pointer;
          text-justify: auto;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
    .team-members {
      width: px-to-rem(150px);
      font-size: px-to-rem(14px);
      font-style: normal;
      font-weight: 400;
      color: var(--text-secondary);
      span {
        display: inline-block;
        font-size: px-to-rem(14px);
        margin-left: px-to-rem(3px);
        color: var(--text-color);
        font-weight: 600;
      }
    }
  }
  .team-members-wrap {
    position: relative;
    .member-list {
      position: absolute;
      left: 10px;
      top: 30px;
    }
  }
  .team-input-wrap {
    margin-top: px-to-rem(24px);
    padding: px-to-rem(16px);
    height: auto;
    border-radius: var(--Border-Radius-borderRadius, 6px);
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    /* Component/Input/activeShadow */
    .team-input {
      position: relative;
    }
    .left-item {
      width: 47.61236%; /* 678/1424 */
      input {
        width: 100%; /* 678/1424 */
      }
    }
    .right-item {
      button {
        display: flex;
        justify-content: center;
        width: px-to-rem(40px);
        height: px-to-rem(40px);
        min-width: px-to-rem(40px);
      }
    }
    .error-message {
      position: absolute;
      left: 4px;
      top: 40px;
      font-size: px-to-rem(12px);
      color: var(--error-color);
    }
  }
}

/* ==========================================================================
   멤버 업로드 일괄 추가 팝업 관련
   ========================================================================== */
.member-upload {
  h2 {
    font-size: px-to-rem(14px);
    font-weight: 500;
    line-height: px-to-rem(22px);
    word-wrap: keep-all;
    color: var(--text-secondary);
  }
  .header-wrp {
    margin-top: px-to-rem(16px);
    padding: px-to-rem(16px) px-to-rem(16px);
    border-radius: var(--Border-Radius-borderRadiusLG, 8px);
    background: var(--fill-tertiary);

    h1.title {
      display: flex;
      align-items: center;
      gap: px-to-rem(8px);
      color: var(--text-color);
      font-size: px-to-rem(16px);
      font-weight: 500;
      span.desc {
        color: var(--text-secondary);
        display: inline-block;
        font-weight: 700;
        font-size: px-to-rem(16px);
        margin-left: px-to-rem(3px);
        @include max-width(tab) {
          margin-left: 0;
        }
      }

      @include max-width(tab) {
        flex-direction: column;
        align-items: start;
      }

      @include max-width(tab) {
        .left {
          line-height: px-to-rem(22px);
          font-size: px-to-rem(16px);
          word-break: keep-all;
          .icon-circle-outlined {
            display: none;
          }
          flex-direction: column;
          align-items: start;
        }
      }

      .right {
        @include max-width(tab) {
          align-self: flex-end;
        }
      }
    }
  }
  .data-status-message {
    margin-top: px-to-rem(16px);
    padding: px-to-rem(16px) px-to-rem(16px);
    display: flex;
    align-items: center;
    border-radius: var(--Border-Radius-borderRadiusLG, 8px);
    background: var(--warning-bg);
    color: var(--error-color);
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 14px;

    @include max-width(tab) {
      flex-direction: column;
      align-items: flex-start;
      gap: px-to-rem(10px);
    }

    .flex-end,
    .ant-btn-lg {
      @include max-width(tab) {
        align-self: flex-end;
      }
    }

    .flex.aic.jcb {
      @include max-width(tab) {
        flex-direction: column;
        gap: px-to-rem(10px);
        align-items: flex-start;
      }
    }

    &.success-message {
      background: #e0f3f5;
    }
    .icon-warning-outlined {
      margin-right: 8px;
      position: relative;
      top: px-to-rem(-1px);
    }
    .title {
      display: flex;
      align-items: center;
      color: var(--text-color);
      font-weight: 400;
      font-size: px-to-rem(16px);
    }
    .total-count {
      color: var(--primary-color);
      display: inline-block;
      font-size: px-to-rem(16px);
      font-weight: 600;
    }

    .count {
      color: var(--error-color);
      font-weight: 600;
      display: inline-block;
      margin-left: px-to-rem(2px);
      font-size: px-to-rem(16px);
    }

    .message {
      color: var(--error-color);
      font-weight: 600;
      display: inline-block;
      margin-left: px-to-rem(3px);
      font-size: px-to-rem(16px);

      @at-root .data-status-message.success-message .message {
        color: var(--text-color);
      }
    }

    .icon-warning {
      margin-right: 8px;
      font-size: 16px;
    }

    .download-button {
      margin-left: auto;
      background-color: transparent;
      color: #ff4d4f;
      border: none;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .content {
    margin-top: px-to-rem(16px);
    padding: px-to-rem(134px) px-to-rem(0px);
    display: block;
    text-align: center;

    @include max-width(tab) {
      padding: px-to-rem(30px) px-to-rem(0px);
    }
    > p {
      margin-bottom: px-to-rem(12px);
      color: var(--text-secondary);
      font-size: px-to-rem(14px);
      font-weight: 500;
      line-height: px-to-rem(22px);
    }
    .wrap {
      height: px-to-rem(450px);
      display: inline-flex;
      border-radius: var(--Border-Radius-borderRadiusLG, 8px);
      border: 1px solid var(--border-color);
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      @include max-width(tab) {
        flex-direction: column;
        height: auto;
      }
      .upload-area {
        width: px-to-rem(400px);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include max-width(tab) {
          padding: px-to-rem(20px) px-to-rem(0px);
        }
        i {
          margin-bottom: px-to-rem(24px);

          @include max-width(tab) {
            margin-bottom: 5px;
          }
        }
        p {
          color: var(--text-color);
          font-size: px-to-rem(16px);
          font-weight: 700;
          margin-bottom: px-to-rem(12px);
        }
        > span {
          display: inline-block;
          margin-bottom: px-to-rem(12px);
        }

        @include max-width(tab) {
          width: 100%;
        }
      }
      .instructions {
        height: 100%;
        max-width: px-to-rem(400px);
        padding: px-to-rem(24px) px-to-rem(16px);
        background: var(--fill-tertiary);
        @include max-width(tab) {
          max-width: 100%;
        }
        p {
          position: relative;
          text-align: left;
          color: var(--text-color);
          font-size: px-to-rem(14px);
          padding-left: px-to-rem(27px);
          font-weight: 500;
          line-height: px-to-rem(22px);
          word-break: keep-all;
          margin-bottom: px-to-rem(12px);
          &:last-of-type {
            margin-bottom: 0;
          }
          @include make-before() {
            position: absolute;
            left: 0;
            top: px-to-rem(2px);
            width: px-to-rem(20px);
            height: px-to-rem(20px);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z' fill='black' fill-opacity='0.45'/%3E%3Cpath d='M10.875 7.875C10.875 8.17337 10.9935 8.45952 11.2045 8.6705C11.4155 8.88147 11.7016 9 12 9C12.2984 9 12.5845 8.88147 12.7955 8.6705C13.0065 8.45952 13.125 8.17337 13.125 7.875C13.125 7.57663 13.0065 7.29048 12.7955 7.0795C12.5845 6.86853 12.2984 6.75 12 6.75C11.7016 6.75 11.4155 6.86853 11.2045 7.0795C10.9935 7.29048 10.875 7.57663 10.875 7.875ZM12.5625 10.5H11.4375C11.3344 10.5 11.25 10.5844 11.25 10.6875V17.0625C11.25 17.1656 11.3344 17.25 11.4375 17.25H12.5625C12.6656 17.25 12.75 17.1656 12.75 17.0625V10.6875C12.75 10.5844 12.6656 10.5 12.5625 10.5Z' fill='black' fill-opacity='0.45'/%3E%3C/svg%3E");
            border-radius: 50%;
            background-size: cover;
            margin-right: px-to-rem(8px);

            @at-root .dark-mode & {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }
  }
}

.filter-container {
  display: flex;
  gap: px-to-rem(16px);
  align-items: center;
  .total-count {
    color: var(--text-color);
    font-size: px-to-rem(20px);
    font-weight: 600;
    .num {
      margin-left: 5px;
      font-size: px-to-rem(20px);
      font-weight: 600;
      display: inline-block;
      color: var(--primary-color);
    }
  }
}

.task-header {
  .left-actions {
    font-size: px-to-rem(16px);
    color: var(--text-color);
    font-weight: 600;
    justify-content: space-between;
  }

  @include max-width(tab) {
    flex-direction: column;
    align-items: stretch !important;

    .mobile-actions {
      display: flex;
      justify-content: space-between;
      margin-bottom: px-to-rem(10px);
    }

    .search-container {
      margin-top: px-to-rem(10px);
    }

    .ant-float-btn-body {
      position: fixed;
      right: 20px;
      bottom: 20px;
    }
  }
}

.dot-item {
  width: px-to-rem(8px);
  height: px-to-rem(8px);
  border-radius: 4px;
  background: var(--icon-color);
}
