@use "sass:math";

// px를 rem으로 변환하는 함수 정의
@function px-to-rem($px) {
  @return math.div($px, $base-font-size) * 1rem;
}

// 미디어 쿼리 믹스인
@mixin max-width($breakpoint) {
  @if $breakpoint == web {
    @media (max-width: #{$breakpoint-web - 1}) {
      @content;
    }
  } @else if $breakpoint == tab {
    @media (max-width: #{$breakpoint-tab - 1}) {
      @content;
    }
  } @else if $breakpoint == mo {
    @media (max-width: #{$breakpoint-mo - 1}) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

// after
@mixin make-after {
  &::after {
    content: "";
    display: inline-block;
    @content;
  }
}

// befer
@mixin make-before {
  &::before {
    content: "";
    display: inline-block;
    @content;
  }
}

//z-index css
@mixin z-index($name) {
  z-index: map-get($z-index, $name);
}

// bg-url
@mixin bg-url($folder, $filename, $size: null) {
  background-image: url("#{$base-url}/#{$folder}/#{$filename}");
  @if $size {
    background-size: $size;
  }
}
